@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

/*Colors: 
Green: 284A31
Black: 00000
Cream: F5EBE0
*/

* {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
}

.home-container {
    background-color: #F5EBE0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header"
    "home-image"
    "music-videos"
    "footer";
    margin: 0;
    padding: 0;    
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.headertext {
    font-size: 0.75rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    margin-top: 10px;
    font-size: 1rem;
    text-decoration: none;
}

.nav-collapse a:hover, .nav-collapse a:focus {
    color: white;
    background-color: #284A31; 
    text-decoration: underline;
    border-radius: 5px;
}

/* HOME IMAGE */
.home-image {
    grid-area: home-image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.weston-pic-1 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* MUSIC VIDEOS */
.music-videos {
    grid-area: music-videos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 30px;
    margin-bottom: 50px;
}

.music-videos iframe {
    width: 500px;
}

/* FOOTER */
.footer {
    grid-area: footer;
    background-color: #284A31;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mailing-list-form {
    color:#F5EBE0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}

input {
    background-color: #284A31;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color:#F5EBE0;
}

input::placeholder {
    font-family: "Syne", sans-serif;
    color:#F5EBE0;
}

.mailing-list-submit-button {
    font-family: "Syne", sans-serif;
    background-color: #F5EBE0;
    color:#284A31;
    border-radius: 10px;
    border-style: none;
}

.mailing-list-text {
    font-family: "Syne", sans-serif;
    color: #F5EBE0;
    text-align: center;
    padding: 30px;
}

.social-media a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 20px;
}

.weston-insta, .weston-tiktok, .weston-facebook {
    width: 10%;
    height: auto;
    object-fit: cover; 
}

/*MERCH */
.merch-main {
    margin: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 10px;
}

.merch-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: contain;
}

.item-name {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 16px;
}

.merch-buy {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-price {
    margin-top: 5px;
    margin-left: 20px;
}

.item p {
    font-size: 20px;
}

.about-main {
    display: flex;
    flex-direction: column;
}

.merch-buy button {
    background-color:#284A31;
    color:#F5EBE0;
    font-family: "Syne";
    font-size: 18px;
    border-radius: 10px;
    margin-right: 20px;
}

.merch-buy button:focus, button:hover {
    background-color: #F5EBE0;
    border: 3px solid #284A31;
    color: #284A31;
}

.about-member {
    display: flex;
    flex-direction: column;
    border: 10px solid lightgray;
    border-radius: 20px;
    align-items: center;
}

.about-group-desc {
    margin: 20px;
    font-size: 24px;
    text-align: center;
    font-family: "Syne";
}

.about-main {
    margin: 40px;
}

.about-main-img {
    width: 80%;
    min-width: 700px;
    align-self: center;
    padding: 20px;
    border: 10px solid lightgray;
    border-radius: 25px;
}

.about-member img {
    width: 200px;
    min-width: 200px;
    height: 200px;
    margin: 20px;
    object-fit: contatin;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-member-text {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.about-member-title {
    font-size: 30px;
}

.about-member-desc {
    font-size: 20px;
    font-family: "Syne";
}

/* TOUR DATES */
.tour-section {
    padding: 60px 20px;
    text-align: center;
}

.tour-section h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 600px;
}

.tour-date {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.tour-picture {
    text-align: center;
    margin-bottom: 40px;
}

.tour-picture img {
    max-width: 100%;
    height: auto;
}

.tour-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 30px 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.tour-city, .tour-venue {
    font-size: 1rem;
    margin-bottom: 8px;
    font-family: 'Syne', sans-serif;
}

.tour-button {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: #284A31;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
}

/* CONTACT */
.contact-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro-text {
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-top: 20px;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
    background-color: #F3F6FB;
    width: 100%;
    max-width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-style: none;
}

.contact-form textarea {
    background-color: #F3F6FB;
    width: 100%;
    max-width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border-style: none;
}

.note {
    width: 100%;
    max-width: 75%;
    font-size: 0.9rem;
    margin-top: 10px;
    font-style: italic;
}

.submit-button {
    background-color: #284A31;
    color: white;
    width: 100%;
    max-width: 35%;
    margin-top: 10px;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    border-style: none;
}

/* MUSIC */
.music-page-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.music-page-pic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    }

.music-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

.music-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.music-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-logo {
    width: 50px;
    height: auto;
    object-fit: scale-down;
}

.spotify-logo, .soundcloud-logo, .pandora-logo {
    width: 80px;
    height: auto;
    object-fit: scale-down;
}

.music-text {
    font-size: 1.5rem;
}

.listen-button {
    width: 100px;
    height: 50px;
    background-color: #284A31;
    font-size: 1.1rem;
    color: #F5EBE0;
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 3px 5px black;
}




@media screen and (min-width: 700px) {


    /* BODY */
    .home-container {
    background-color: #F5EBE0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header"
    "home-image"
    "music-videos"
    "footer";
    margin: 0;
    padding: 0;    
    }

    /* HEADER */
    .header {
    grid-area: header;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: auto;
    }

    .headertext {
    flex-shrink: 0;
    font-size: 0.7rem;
    }

    /* MUSIC VIDEOS */
    .music-videos iframe {
    width: 500px;
    }

    /* HOME IMAGE */
    .home-image {
    grid-area: home-image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .weston-pic-1 {
    width: 60%;
    height: auto;
    object-fit: cover;
    }

    /* FOOTER */
    .footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .mailing-list-form {
    margin-left: 20px;
    display: flex;
    }

    .social-media a {
    align-items: flex-end;
    margin-right: 20px;
    }

    .weston-insta, .weston-tiktok, .weston-facebook {
    width: 5%;
    }

    /* MERCH */
    .merch-grid {
    grid-template-columns: repeat(4, 1fr);
    }

    /* ABOUT */
    .about-member {
    display: flex;
    flex-direction: row;
    }

    .about-member-text {
    margin: 0px 20px;
    }

    .contact-container {
        width: 80vw;
    }

    /* TOUR DATES */
    .tour-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    /* CONTACT */
    .contact-container {
        padding: 0 15px;
    }

    /* MUSIC */    
    .music-page-pic {
        max-width: 80%;
    }
    
    .music-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
    }
    
    .music-row {
        display: flex;
        flex-direction: row;
        row-gap: 50px;
    }
    
    .music-item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .music-logo {
        width: 70px;
    }
    
    .spotify-logo, .soundcloud-logo, .pandora-logo {
        width: 100px;

    }
    
    .music-text {
        font-size: 1.75rem;
    }
}